<div class="article-wrapper">
  <article class="article">
    <div class="article-inner">
      <% if (post.link || post.title){ %>
        <header class="article-header">
          <%- partial('post/title', {class_name: 'p-name article-title'}) %>
        </header>
      <% } %>
      <div class="e-content article-entry typo" itemprop="articleBody">
        <%- post.content %>
      </div>
    </div>
  </article>
</div>
