/* ========== 基本設定 ========== */

@charset "utf-8";html {
  color:#333;
  background:#fff;
  -ms-text-size-adjust:100%;
  text-rendering:optimizelegibility;
}

html.borderbox *,html.borderbox :after,html.borderbox :before {
  box-sizing:border-box;
}

article,aside,blockquote,body,button,code,dd,details,dl,dt,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hr,input,legend,li,menu,nav,ol,p,pre,section,td,textarea,th,ul {
  margin:0;
  padding:0;
}

body, button, input, select, textarea {
  font-family: "メイリオ", Meiryo, sans-serif;
  font-weight: 300;
  font-size: 1em;
  line-height: 1.8;
}

h1,h2,h3,h4,h5,h6 {
  font-family:PingFang SC,Verdana,Helvetica Neue,Microsoft Yahei,Hiragino Sans GB,Microsoft Sans Serif,WenQuanYi Micro Hei,sans-serif;
  font-weight:100;
  color:#000;
  line-height:1.35;
}

.typo-h1,.typo-h2,.typo-h3,.typo-h4,.typo-h5,.typo-h6,.typo h1,.typo h2,.typo h3,.typo h4,.typo h5,.typo h6 {
  margin-top:1.2em;
  margin-bottom:.6em;
  line-height:1.35;
}

.typo-h1,.typo h1 {
  font-size:2em;
}

.typo-h2,.typo h2 {
  font-size:1.8em;
}

.typo-h3,.typo h3 {
  font-size:1.6em;
}

.typo-h4,.typo h4 {
  font-size:1.4em;
}

.typo-h5,.typo-h6,.typo h5,.typo h6 {
  font-size:1.2em;
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */html {
  line-height:1.15;
  -webkit-text-size-adjust:100%;
}

body {
  margin:0;
}

h1 {
  font-size:2em;
  margin:.67em 0;
}

body,html {
  width:100%;
  height:100%;
  position:relative;
  box-sizing:border-box;
  color:#222;
  background:inherit;
}

body,h1,h2,h3,h4,h5,h6 {
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
  -moz-font-feature-settings:"liga" on;
  transition:all .25s ease;
}

body {
  font-family:Baskerville,Times New Roman,"Liberation Serif",STFangsong,FangSong,FangSong_GB2312,CWTEX\\-F,serif;
  font-size:20px;
}

h1,h2,h3,h4,h5,h6 {
  font-family:Baskerville,Georgia,"Liberation Serif",Kaiti SC,STKaiti,AR PL UKai CN,AR PL UKai HK,AR PL UKai TW,AR PL UKai TW MBE,AR PL KaitiM GB,KaiTi,KaiTi_GB2312,DFKai-SB,TW\\-Kai,serif;
}

.home-body {
  display:flex;
  flex-direction:column;
  justify-content:center;
}

.home h1,.home strong {
  color:#222;
}

.home .profile h1 {
  font-weight:300;
}

.archive-container .archive-article-header>a,.archive-container .archive-article-header>h1,.category-container .archive-article-header>a,.category-container .archive-article-header>h1,.tag-container .archive-article-header>a,.tag-container .archive-article-header>h1 {
  display:inline-block;
  vertical-align:middle;
}

.archive-container .archive-article-header h1,.category-container .archive-article-header h1,.tag-container .archive-article-header h1 {
  width:calc(100% - 120px);
  font-size:100%;
  margin:0;
}

.article h1,.article h2,.article h3,.article h4,.article h5,.article h6 {
  font-weight:bolder;
}

.dark .home h1,.dark .home strong {
  color:#ddd;
}

.dark b,.dark h1,.dark h2,.dark h3,.dark h4,.dark h5,.dark h6,.dark strong {
  color:#ddd;
}

pre .attribute,pre .css .class,pre .css .id,pre .css .pseudo,pre .html .doctype,pre .regexp,pre .ruby .constant,pre .tag,pre .variable,pre .xml .doctype,pre .xml .pi,pre .xml .tag .title {
  color:#c82829;
}

.archive-container .archive-article-header>a,.archive-container .archive-article-header>h1 {
  width:100%;
}

body, button, input, select, textarea {
  font-family: "メイリオ", Meiryo, sans-serif;
  font-weight: 300;
  font-size: 1em;
  line-height: 1.8;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "メイリオ", Meiryo, sans-serif;
  font-weight: 100;
  color: #000;
  line-height: 1.35;
}

.article h1, .article h2, .article h3, .article h4, .article h5, .article h6 {
  font-family: "メイリオ", Meiryo, sans-serif;
  font-weight: bolder;
}

body {
  font-size: 19px;
}

h1 {
  font-size: 2.3em;
}

h2 {
  font-size: 1.6em;
}

h3 {
  font-size: 1.4em;
}

h4 {
  font-size: 1.2em;
}

h5, h6 {
  font-size: 1em;
}

.article-title, h1 {
  font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "ヒラギノ角ゴシック", "メイリオ", Meiryo, sans-serif;
  font-weight: 800;
}

h2, h3, h4, h5, h6 {
  font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "ヒラギノ角ゴシック", "メイリオ", Meiryo, sans-serif;
  font-weight: 800;
}

body {
  font-size:18px;
}

@media (max-width:468px) {
  body{
  font-size:16px;
}

@media (max-width:320px) {
  body{
  font-size:14px;
}

@media (max-width: 1000px) {
  body {
  font-size: 17px;
}

@media (max-width: 468px) {
  body {
  font-size: 16px;
}

@media (max-width: 320px) {
  body {
  font-size: 15px;
}


/* ========== 本文レイアウト ========== */

.article {
  width:60%;
  max-width:700px;
  margin:0 auto;
}

.article .header {
  font-size:18px;
  padding-top:50px;
}

.article .main-nav-link:hover {
  border:0;
}

.article .nav-left {
  position:relative;
  left:auto;
  text-align:left;
  text-align:initial;
}

.article .nav-left .main-nav-link {
  display:inline-block;
  padding-bottom:5px;
}

.article .header-hr-left {
  display:block;
}

.article hr {
  width:60%;
  margin:20px 0 40px;
  height:1px;
  border:0;
  background-image:-webkit-linear-gradient(0deg,#d5d5d5,#d5d5d5,transparent);
}

.article .article-title {
  font-size:2.5em;
}

.article a.fancybox,.article a.fancybox-item {
  border:0;
}

.article .caption {
  color:#aeb4b9;
  display:block;
  font-size:14px;
  text-align:center;
}

.article .article-entry {
  word-break:break-word;
}

.article .article-entry img {
  display:block;
  margin:auto;
}

.article .article-entry blockquote footer {
  text-align:center;
  font-size:80%;
  color:#aeb4b9;
}

.article .article-entry blockquote footer cite {
  font-style:italic;
}

.article .article-entry blockquote footer cite:before {
  content:"—";
  padding:0 .5em;
}

.article .article-entry blockquote footer cite a {
  color:#aeb4b9;
  border-bottom:1px solid #eee;
  transition:color .25s linear;
}

.article .article-entry blockquote footer cite a:hover {
  color:#22c5e5;
  border-bottom:1px solid rgba(34,197,229,.2);
  transition:color .1s linear;
}

.article .article-entry blockquote footer strong {
  color:#777;
  font-weight:400;
}

.article .article-entry table caption,.article .article-entry table td,.article .article-entry table th,.article .article-entry td,.article .article-entry th {
  word-break:normal;
}

.article .article-entry .pullquote {
  width:45%;
  border:0;
}

.article .article-entry .pullquote.left {
  float:left;
  text-align:left;
}

.article .article-entry .pullquote.right {
  float:right;
  text-align:right;
}

.article .article-entry .video-container {
  position:relative;
  padding-top:56.25%;
  margin-bottom:30px;
  height:0;
  overflow:hidden;
}

.article .article-entry .video-container iframe {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  margin-top:0;
}

.article .article-nav {
  max-width:100%;
  margin-top:50px;
  font-size:80%;
}

.article .article-nav-link-wrap {
  display:inline-block;
  color:#aeb4b9;
  padding:0 10px;
  width:49%;
  box-sizing:border-box;
  vertical-align:top;
  border:0;
}

.article .article-nav-link-wrap:hover {
  color:#22c5e5;
  transition:color .1s linear;
  border-bottom:0;
}

.article .article-nav-link-wrap strong {
  color:#777;
}

.article .article-nav-link-wrap.newer {
  text-align:right;
}

.article .article-nav-link-wrap.older {
  text-align:left;
}

.article .article-footer {
  margin-top:50px;
}

.article .article-footer hr {
  margin-top:50px;
  height:1px;
  border:0;
  background-image:-webkit-linear-gradient(0deg,transparent,#d5d5d5,transparent);
}

.article .article-meta {
  font-size:80%;
  color:#aeb4b9;
}

.article .article-meta a {
  color:#777;
}

.article .article-meta .label {
  margin-right:10px;
}

.article .article-meta .article-category,.article .article-meta .article-tag-list {
  display:inline-block;
}

.article .article-meta .article-tag-list-item {
  display:inline-block;
  margin-right:5px;
}

.article .article-meta .article-tag-list-item:before {
  content:"#";
}

.article .article-gallery img {
  width:100%;
}

.article-type-page .article-footer {
  display:none;
}

.dark .archive-container .header .main-nav-link,.dark .article .header .main-nav-link,.dark .category-container .header .main-nav-link,.dark .tag-container .header .main-nav-link {
  color:#aaa;
}

.dark .archive-container .header .main-nav-link:hover,.dark .article .header .main-nav-link:hover,.dark .category-container .header .main-nav-link:hover,.dark .tag-container .header .main-nav-link:hover {
  color:#fff;
}

.dark .archive-container .article-nav,.dark .archive-container .page-nav,.dark .article .article-nav,.dark .article .page-nav,.dark .category-container .article-nav,.dark .category-container .page-nav,.dark .tag-container .article-nav,.dark .tag-container .page-nav {
  color:#aaa;
}

.dark .archive-container .article-nav a,.dark .archive-container .page-nav a,.dark .article .article-nav a,.dark .article .page-nav a,.dark .category-container .article-nav a,.dark .category-container .page-nav a,.dark .tag-container .article-nav a,.dark .tag-container .page-nav a {
  color:#bbb;
}

.dark .archive-container .article-nav a:hover,.dark .archive-container .page-nav a:hover,.dark .article .article-nav a:hover,.dark .article .page-nav a:hover,.dark .category-container .article-nav a:hover,.dark .category-container .page-nav a:hover,.dark .tag-container .article-nav a:hover,.dark .tag-container .page-nav a:hover {
  color:#fff;
}

.dark .archive-container .article-entry blockquote footer strong,.dark .archive-container .article-meta a,.dark .article .article-entry blockquote footer strong,.dark .article .article-meta a,.dark .category-container .article-entry blockquote footer strong,.dark .category-container .article-meta a,.dark .tag-container .article-entry blockquote footer strong,.dark .tag-container .article-meta a {
  color:#bbb;
}

.dark .article-entry .highlight,.dark .article-entry pre {
  color:#d8d8d8;
  background-color:#333;
}

.dark .article-entry .highlight table caption,.dark .article-entry .highlight table td,.dark .article-entry .highlight td {
  border:0;
}

.dark .article-entry .highlight .line.marked {
  background:#444;
}

.article-entry figure.highlight {
  margin:0;
}

.article-entry pre {
  padding:20px;
  background:#f3f5f6;
  color:#4d4d4c;
  font-size:14px;
  overflow:auto;
  line-height:1.8;
}

.article-entry pre code {
  background:none;
  text-shadow:none;
  padding:0;
}

.article-entry .highlight {
  padding:20px;
  background:#f3f5f6;
  color:#4d4d4c;
  font-size:14px;
  overflow:auto;
  line-height:1.8;
}

.article-entry .highlight pre {
  border:0;
  margin:0;
  padding:0;
}

.article-entry .highlight table {
  margin:0;
  width:100%;
}

.article-entry .highlight td {
  border:0;
  padding:0;
}

.article-entry .highlight figcaption {
  color:#8e908c;
}

.article-entry .highlight figcaption a {
  float:right;
}

.article-entry .highlight .gutter {
  padding-right:10px;
}

.article-entry .highlight .gutter pre {
  color:#aeb4b9;
  font-size:14px;
}

.article-entry .highlight .line {
  height:25px;
}

.article-entry .highlight .line.marked {
  background:#e6e6e6;
}

.archive-container,.archive-footer,.article,.home .content,.post-footer {
  width:80%;
}

.article-title {
  font-size:2rem;
}

.article .nav-left {
  position:absolute;
}

.article .nav-left .main-nav-link {
  display:block;
  padding-bottom:10px;
}

.article {
  font-size:16px;
}

.article {
  font-size: 15px;
}


/* ========== レスポンシブ調整 ========== */

@media (max-width:768px) {
  .main-nav{
  display:none;
}


/* ========== マーカー・強調表示 ========== */

.mark-bold-black {
  font-weight: bold;
  color: black;
  background-color: yellow;
}

.mark-bold-red {
  font-weight: bold;
  color: red;
  background-color: yellow;
}

